{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container" style = "margin-top:50px" style="background-color:lime">
    <h2 class="text-center">Form</h2>
    <br><br>
    <form method="post" id="applicationForm" data-courses-url="{% url 'ajax_load_courses' %}">
         {% csrf_token %}
         <label> Name</label><input type="text" name="name"placeholder="Enter your  name"><br>
         <br><label>DOB</label><input type="date" name="dob" placeholder="Enter your date of birth"> <br>
         <br><label> Age</label><input type="number" name="age" placeholder="Enter your age"><br>
         <br><label>Gender</label><input type="text" name="gender" placeholder="Enter your gender"> <br>
         <br><label> Phone Number</label><input type="password" name="Phone number" placeholder="Enter your Phone number"> <br>
         <br><label>Email id</label><input type="email" name="Emai lid" placeholder="Enter your Email id "> <br>
         <br><label> Address</label><input type="text" name="address" placeholder="Enter your Address"> <br>
         <label>Department</label>
         <select name="department" id="department" class="form-control">
            <option value="">---select Department---</option>
            {% for i in departments %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
         </select>
         <label>Courses</label>
         <select name="courses" id="courses" class="form-control">
         </select>
         <label> Purpose</label>
         <select id="Purpose" name="Purpose">
            <option value="">Choose</option>
            <option value="Enquiry">Enquiry</option>
            <option value="Admission">Admission</option>
            <option value="Refund">Refund</option>
        </select><br>
        <label> materials  required</label><input type="text" name="materials" placeholder="select materials Required"> <br>
        <label>Note Book<input type="checkbox" id="Note Book" name="materials[]" value="Note Book"></label>
        <label >Pen <input type="checkbox" id="Pen" name="materials[]" value="Pen"></label>
        <label>Exam Papers<input type="checkbox" id="Exam Papers" name="materials[]" value="Exam Papers"></label>
        <br>

        <a class="form-control btn btn-primary" href="{% url 'newpage2'  %}">submit</a>

    </form>
</div>
    {% for msg in messages %}
      <h2>{{msg}}</h2>
    {% endfor %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#department").change(function () {
      var url = $("#applicationForm").attr("data-courses-url");  // get the url of the `load_courses` view
      var departmentId = $(this).val();  // get the selected department ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'department': departmentId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#courses").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}

<!--
 for checkbox materials provided
<div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>


   <tr>
        <td><label for="material">Materials Required :</label></td>
        <td>
          <input type="checkbox" id="debit" name="materials[]" value="Debit Card">
          <label for="debit">Debit Card</label>
          <input type="checkbox" id="credit" name="materials[]" value="Credit Card">
          <label for="credit">Credit Card</label>
          <input type="checkbox" id="cheque" name="materials[]" value="Chequebook">
          <label for="debit">Cheque Book</label></td>

     </tr>

     <tr>
        <td><label for="Account">Account Type</label></td>
        <td>
          <select id="account" name="account">
            <option value="">Choose</option>
            <option value="Savings">Savings</option>
            <option value="Current">Current</option>
          </select></td>
      </tr>
      -->

<!--<body style="background-color:lime"  >
<h2>Application form</h2>
<form action ="login" method="post" >
 {% csrf_token %}
 <label> Name</label><input type="text" name="name"placeholder="Enter your  name"> <br>
 <br><label>DOB</label><input type="date" name="dob" placeholder="Enter your date of birth"> <br>
 <br><label> Age</label><input type="number" name="age" placeholder="Enter your age">
 <br><br><label>Gender</label><input type="text" name="gender" placeholder="Enter your gender"> <br>
 <br><label> Phone Number</label><input type="password" name="Phone number" placeholder="Enter your Phone number"> <br>
 <br><label>Email id</label><input type="email" name="Emai lid" placeholder="Enter your Email id "> <br>
 <br><label> Address</label><input type="text" name="address" placeholder="Enter your Address"> <br>
 <br><label> Department</label><input type="text" name="department" placeholder="Enter your dept"> <br>
 <br><label> Courses</label><input type="text" name="course" placeholder="Enter your course"> <br><br>
 <br><label> Purpose</label><input type="text" name="purpose" placeholder="select  purpose here"> <br>-->
 <!--<label> Purpose</label>
 <select id="Purpose" name="Purpose">
            <option value="">Choose</option><br><br>
            <option value="Enquiry">Enquiry</option>
            <option value="Admission">Admission</option>
            <option value="Refund">Refund</option>
 </select><br><br><br><br><br><br>
 <br><label> materials  required</label><input type="text" name="materials" placeholder="select materials Required"> <br><br><br>
 <label>Note Book<input type="checkbox" id="Note Book" name="materials[]" value="Note Book"></label>
 <label >Pen <input type="checkbox" id="Pen" name="materials[]" value="Pen"></label>
 <label>Exam Papers<input type="checkbox" id="Exam Papers" name="materials[]" value="Exam Papers"></label>

<br>
<br>
 <a class="btn btn-primary" href="{% url 'newpage2'  %}">submit</a>
<input type = "submit" value="Submit" class="form-control btn btn-primary">
</form>
{% for msg in messages %}
 <h2>{{msg}}</h2>
{% endfor %}




-->